@import "../../../../../../styles/helpers/helpers";

.row {
  .form-control-datePicker {
    height: 49px;
    border: none;
    background-color: $color__light;
  }
  .react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
      input {
        color: $color__background-dark;
      }
    }
  }
  .search-btn {
    margin-bottom: 6px;
  }
}
