@import "../../../../../../styles/helpers/helpers";

.employee {
	.heading {
		font-size: 17px;
		color: $color__primary;
		font-weight: 600;
		padding-top: 30px;
		text-decoration-line: underline;
	}
	.employee-row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2rem;
		.form-group {
			.form-control {
				background-color: $color__light;
				// padding: 1.375rem 0.75rem;
				font-family: "Lato";
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 20px;
				border: none;
				color: $color__dark;
			}
		}
	}
	.search-report-wrapper {
		margin-left: 50px;
	}
	.dropDownClass {
        height:49px;
    }
}
